<nav class='navbar fixed-top navbar-expand-lg navbar-light bg-light'>
  <a class='navbar-brand' href='/maps'>MapIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/maps">My Maps</a>
      </li>
      <% if (userId) { %>
        <li class="nav-item">
          <a class="nav-link" href="/users/favourites">My Faves</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maps/new">Add Map</a>
        </li>
      </ul>
      <span class="navbar-text welcome-message">Hello, <%= userName %></span> 
      <ul class="navbar-nav navbar-right">
        <li class="nav-item nav-auth"><a class="nav-link auth" id="logout" href="/users/logout">Sign Out</a></li>
      </ul>
        <% } else { %>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item nav-auth"><a class="nav-link auth" id="login" href="/users/login">Sign in</a></li>
        </ul>
        <% } %>
      </ul>
  </div>
</nav>