<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>

  <body>
    <% include ./partials/navbar %>
    <main class="container">
      <h1>Hello World!</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sed in, quos vitae, neque incidunt unde libero tempore natus, beatae eveniet a! Sit dolore quaerat, illum tenetur unde nostrum quibusdam.</p>
    </main>
    <% include ./partials/footer %>

    <script type="text/javascript" src="/vendor/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/vendor/popper.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
