<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  </head>
  
  <body>
    <h1>Hello World!</h1>
    <script type="text/javascript" src="/vendor/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/vendor/popper.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
