// See: https://sass-lang.com/
html {
  min-height: 100%;
  position: relative; //required to absolutely position footer
}

body {
  background-color: #EEE;
  margin-bottom: 60px;
}

main.container {
  min-height:100%;
  padding-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
